.checkoutFormContainer {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.checkoutFormContainer {
    width: 30%;
}

.checkoutFormContainer h1 {
    padding-bottom: 8%;
}

.bookingFormInputFields {
    padding-left: 10%;
}



